flujo-pdf.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "23154e6f-420b-4186-be36-8b7585da797a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "68e95fa5-bcd0-4793-943a-9a380c6d49ec",
      "name": "Webhook",
      "webhookId": "23154e6f-420b-4186-be36-8b7585da797a"
    },
    {
      "parameters": {
        "resource": "file",
        "binaryPropertyName": "file",
        "options": {
          "purpose": "fine-tune"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        192,
        -176
      ],
      "id": "d163ac08-e684-4ad4-b70e-edb753418f28",
      "name": "Upload a file",
      "credentials": {
        "openAiApi": {
          "id": "M9MvPDL34bZypczY",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        192,
        0
      ],
      "id": "49840726-53eb-411d-9c5c-dfc054091384",
      "name": "Extract from File",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        416
      ],
      "id": "d3d9629f-07cd-4f6c-8234-c4ce29582390",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "M9MvPDL34bZypczY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "matricula",
              "description": "Matrícula de Vehículo",
              "required": true
            },
            {
              "name": "bastidor",
              "description": "Número de bastidor",
              "required": true
            },
            {
              "name": "fabricante",
              "description": "Fabricante del vehículo",
              "required": true
            },
            {
              "name": "modelo",
              "description": "Modelo del Vehículo",
              "required": true
            },
            {
              "name": "referencia",
              "description": "Referencia Interna",
              "required": true
            },
            {
              "name": "sistema",
              "description": "Por ejemplo AUDA",
              "required": true
            },
            {
              "name": "precio_hora",
              "description": "Precio por hora",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        416,
        -64
      ],
      "id": "bc98d633-276e-462d-baa1-753e80eba21d",
      "name": "Ficha"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "repuestos_total",
              "description": "Total de los repuestos",
              "required": true
            },
            {
              "name": "mo_chapa_ut",
              "description": "Mano de Obra Chapa (UT)",
              "required": true
            },
            {
              "name": "mo_chapa_eur",
              "description": "Precio mano de obra chapa",
              "required": true
            },
            {
              "name": "mo_pintura_ut",
              "description": "Mano de obra pintura (UT)",
              "required": true
            },
            {
              "name": "mo_pintura_eur",
              "description": "Precio mano de obra pintura",
              "required": true
            },
            {
              "name": "mat_pintura_eur",
              "description": "Precio materiales de pintura",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        416,
        96
      ],
      "id": "282ef90b-cee2-4c31-8d2e-a8be54401148",
      "name": "Totales Aseguradora"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        16
      ],
      "id": "f0f29801-0e40-4273-9768-634314b3e762",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); // recoge todos los items de entrada\n\n// Extrae directamente lo que hay dentro de \"output\"\nconst merged = Object.assign(\n  {},\n  ...items.map(it => it.json.output ?? it.json)\n);\n\nreturn [{ json: merged }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        16
      ],
      "id": "25a260c3-6ce1-4014-8255-24ad8a17701d",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1120,
        16
      ],
      "id": "332783d1-211f-4645-a6ad-38a0f0f3224a",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Upload a file": [
      {
        "json": {
          "object": "file",
          "id": "file-AcB2Dw4DYq4KETYHhbawU1",
          "purpose": "assistants",
          "filename": "VALORACION 6078GGM.pdf",
          "bytes": 4638192,
          "created_at": 1758572571,
          "expires_at": null,
          "status": "processed",
          "status_details": null
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.necode.io",
            "user-agent": "Deno/2.1.4 (variant; SupabaseEdgeRuntime/1.69.4)",
            "content-length": "4638379",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "2a05:d012:fca:9500:b887:d916:9301:d0a4",
            "cf-ipcountry": "FR",
            "cf-ray": "98348a96efbd02a1-CDG",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "multipart/form-data; boundary=----6406736330509687103944494724",
            "x-forwarded-for": "172.71.130.8",
            "x-forwarded-host": "n8n.necode.io",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "c3792c3efd09",
            "x-real-ip": "172.71.130.8"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://n8n.necode.io/webhook/23154e6f-420b-4186-be36-8b7585da797a",
          "executionMode": "production"
        }
      }
    ],
    "Extract from File": [
      {
        "json": {
          "numpages": 12,
          "numrender": 12,
          "info": {
            "PDFFormatVersion": "1.6",
            "Language": null,
            "EncryptFilterName": null,
            "IsLinearized": true,
            "IsAcroFormPresent": false,
            "IsXFAPresent": false,
            "IsCollectionPresent": false,
            "IsSignaturesPresent": false,
            "CreationDate": "D:20240603205430+02'00'",
            "ModDate": "D:20240603205728+02'00'",
            "Producer": "dompdf 0.8.4 + CPDF",
            "Title": "SilverDAT3 - Valoración de reparación"
          },
          "metadata": {
            "xmp:createdate": "2024-06-03T20:54:30+02:00",
            "xmp:modifydate": "2024-06-03T20:57:28+02:00",
            "xmp:metadatadate": "2024-06-03T20:57:28+02:00",
            "pdf:producer": "dompdf 0.8.4 + CPDF",
            "dc:format": "application/pdf",
            "dc:title": "SilverDAT3 - Valoración de reparación",
            "xmpmm:documentid": "uuid:7a43dacf-56ca-4936-bb34-66fa24aebfda",
            "xmpmm:instanceid": "uuid:c6520217-abb8-4e04-89a1-ede5c091521e"
          },
          "text": "SilverDAT 3\nValoración de reparación\nÚltima modificación: 03/06/2024\nDatos del taller\nEmilio José García Latorre info@expertpericial.com\nCalle el Morro N51º 677161401\n04610 Cuevas del Almanzora ( Almería ) Emilio José García Latorre\nTitular\nTratamiento Teléfono privado\nApellidos, Nombre Remedios Haro Haro Email\nCalle / Nº CP / Localidad /\nDatos del vehículo Identificado a través del VIN\nToyota RAV4 (A3)(2005->) Executive\nNº ID del vehículo JTMBA31V805086579 Nº valoración 43999424\nMatrícula 6078GGM Nº de encargo EXP240044\nMatriculación Código del color 4R4\nKilómetros 140887 Color Beige metallic\nEquipamiento de serie\nToyota Collision Repair Time, Retrovisor exterior plegable eléctricamente, Retrovisor exterior regulable eléctricamente y calefactable, Retrovisor exterior pintado, Luces\nantiniebla, Encendido automático de luces, Limpiaparabrisas con Sensor de lluvia, Paragolpes color carrocería, Lunas detrás tintadas, Lunas atérmicas, Cargador de CD's (6\nposiciones), Sistema de audio: Radio con Lector de CD y Cargador de CD's (6 posiciones), Mandos audio en volante, Airbag de rodilla lado del conductor, Control de\ncrucero (Tempomat), Airbag conductor/acompañante, Sistema de airbag para la cabeza, Airbag lateral, Climatizador automático, Calefacción del asiento, tapicería asientos:\ncuero, Asientos delante regulable eléctricamente (con Memory), Elevalunas eléctric. delante + detrás, Cierre centralizado / Instalación de arranque Smart-Key, Entry&drive,\nAgarraderos de la puerta ext. color carrocería, Sistema de protección-antiderrapante, Retrovisor interior antideslumbrante, Inmovilizador, Pomo palanca cambios cuero,\nAnclajes Isofix para Asiento para niños, Sistema antibloqueo (ABS), Llantas de aleación 7x17, Neumáticos 225/65 R17 ...H, Kit reparación de neumáticos, Volante (cuero),\nColumna de dirección (Volante) regulable, Dirección asistida, automático control-estabilidad y tracción (ASC + T), Carrocería: 5 puertas, Tipo transmisión: Tracción total\npermanente, Batalla 2560 mm, Caja de cambios 6-marcha\nEquipamiento opcional\nNºPR Descripción\nMotor 2,2 Ltr. - 100 kW Turbodiesel CAT\n4R4 Pintura metalizada\nRecambios Fecha tarifa: 03/06/2024\nDVN NºPR Descripción % Descuento Cantidad Precio unidad Precio total\n43832 5387542064 Revestimiento del pase de rueda d.dr. 1 118.66 € 118.66 €\n45360 8531542270 Depósito del lavacristales 1 89.27 € 89.27 €\n47255 5253642021 Soporte paragolpes iz. 1 25.65 € 25.65 €\n47256 5253542021 Soporte paragolpes dr. 1 25.65 € 25.65 €\n55412 8155142091 Piloto trasero dr. 1 239.48 € 239.48 €\n61252 4882002070 Palanca estabilizador dr. 1 100.61 € 100.61 €\nMano de obra Precio/hora: 30.0 €\nDVN Posición trabajo Descripción Tiempo (Horas) Precio total\n20754 #751371 D+m moldura abajo cristal de la puerta dr.ext. 0.1 3 €\n23012 672191\nD+m tirador exterior de la puerta dr. comprende:\nd+m revestimiento de la puerta d.dr., d+m cilindro cierrapuerta dr., sust. cilindro\ncierrapuerta dr.\n0.7 21 €\n23152 #752991 D+m carcasa retrovisor exterior dr. 0.1 3 €\n24762 751381 D+m moldura abajo cristal de la puerta tras.dr.ext. 0.2 6 €\n27012 672201\nD+m tirador exterior de la puerta p.dr. comprende:\nsust. revestimiento de la puerta p.dr., sust. conmutador eléctric. elevalunas p.dr.,\ndesm.+mont./sust. bloqueo de la puerta p.dr., desm.+mont./sust. moldura abajo\ncristal de la puerta p.dr., d+m revestimiento de la puerta p.dr.\n0.7 21 €\n43832 531041 \nSust. cubierta del pase de rueda d.dr. comprende:\nd+m cubierta del pase de rueda d.dr. \n0.4 12 €\n45360 851091\nSust. depósito del lavacristales comprende:\nsust. cubierta soporte del radiador, d+m cubierta del pase de rueda d.iz., d+m\ndepósito del lavacristales, sust. bomba equipo lavacristales, sust. puntal de\nrefuerzo soporte de la cerradura (trabajo combinado), d+m cubierta soporte del\nradiador, d+m paragolpes d., d+m cubierta paragolpes d., d+m reforzamiento del\nparagolpes, desm.+mont./sust. bomba limpialuneta trasera\n0.7 21 €\n47255 Mano de obra Sust. soporte paragolpes d.iz. (paragolpes desmontado) 0.1 3 €\n47256 Mano de obra Sust. soporte paragolpes d.dr. (paragolpes desmontado) 0.1 3 €\n54521 Mano de obra D+m cubierta portón trasero iz.abj.ext. 0.1 3 €\n57900 Mano de obra \nD+m rueda de repuesto comprende:\nd+m cubierta rueda de reserva/repuesto, sust. cubierta rueda de reserva/repuesto \n0.1 3 €\n\n54630 #642991\nD+m tirador exterior portón trasero comprende:\nd+m revestimiento del marco del portón trasero arr., sust. revestimiento del marco\ndel portón trasero dr.arr., d+m revestimiento del portón trasero, sust. revestimiento\ndel portón trasero, d+m/sust. marco de soporte tirador portón trasero, sust.\nrevestimiento del marco del portón trasero arr., d+m revestimiento del marco del\nportón trasero iz.arr., sust. revestimiento del marco del portón trasero iz.arr., d+m\nrevestimiento del marco del portón trasero dr.arr., desm.+mont./sust. luces del\nmaletero\n0.5 15 €\n54800 #760101\nD+m spoiler trasero comprende:\nsust. spoiler trasero, desm.+mont./sust. spoiler trasero, d+m tercera luz de freno,\nsust. tercera luz de freno, d+m revestimiento del marco del portón trasero arr.,\nsust. revestimiento del marco del portón trasero arr., d+m spoiler trasero\n0.3 9 €\n55412 B407190 \nSust. piloto trasero dr. comprende:\nd+m piloto trasero dr. \n0.3 9 €\n57245 B410190 D+m cubierta paragolpes p. 0.4 12 €\n61252 #431991 Desm.+mont./sust. estabilizador palanca del muelle d.dr. 0.2 6 €\n20112 Mano de obra \nReparar puerta d.dr. comprende:\nreparar puerta d.dr. (mitad infer. línea ventana) \n* 0.5 15 €\n24112 Mano de obra \nReparar puerta p.dr. comprende:\nreparar puerta p.dr. (mitad infer. línea ventana) \n* 1 30 €\n43712 Mano de obra Reparar aleta d.dr. * 1 30 €\n44210 Mano de obra Reparar capó * 2 60 €\n47130 Mano de obra Reparar cubierta paragolpes d. * 1 30 €\n53112 Mano de obra Reparar lateral p.dr. * 2 60 €\n54010 Mano de obra \nReparar portón trasero comprende:\nreparar portón trasero mit.inf. \n* 3 90 €\n57245 Mano de obra Reparar cubierta paragolpes p. * 2.5 75 €\n55721 Luz antiniebla trasera cpl. reparar reparación lunas cantidad de lugares dañados:1 * 0.5 15 €\n55722 Luz antiniebla trasera cpl. reparar reparación lunas cantidad de lugares dañados:1 * 0.5 15 €\n57950 Cubierta rueda de reserva/repuesto reparar * 2.5 75 €\n* Electricidad * 1.37 41.1 €\n* Ajustar parte frontal * 0 28.38 €\nPintura EUROLACK - Metalizado (2 Capas) Precio/hora: 30.0 €\nDVN Nivel Descripción Tiempo (Horas) Materiales Precio total\nMano de obra Preparación para pintura 1.7 51 €\nMano de obra \nPreparación para pintura piezas suplementarias\nplástico \n0.8 24 €\n20112 REP. NIVEL 1 Puerta d.dr. 1.7 78 € 129 €\n23152 Reparación Carcasa retrovisor exterior dr. (pieza desmontada) 0.9 6.5 € 33.5 €\n24112 REP. NIVEL 1 Puerta p.dr. 1.5 61.75 € 106.75 €\n43712 REP. NIVEL 1 Aleta d.dr. 1.1 32.5 € 65.5 €\n44210 REP. NIVEL 1 Capó 2.4 130 € 202 €\n47130 Reparación Cubierta paragolpes d. (pieza desmontada) 1.6 117 € 165 €\n53112 REP. NIVEL 1 Lateral p.dr. 1.5 65 € 110 €\n54010 REP. NIVEL 1 Portón trasero 1.9 91 € 148 €\n54521 Superficial Cubierta portón trasero iz.abj. 0.4 16.25 € 28.25 €\n57245 Reparación Cubierta paragolpes p. (pieza desmontada) 1.6 117 € 165 €\n57950 Reparación Cubierta rueda de repuesto p. (pieza desmontada) 1.4 84.5 € 126.5 €\nResumen\nRecambios Mano de obra Pintura\nImporte recambios 599,32 € Mano de obra (22.87 h) 714,48 € MO Pintura 480,00 €\nPequeño Material(2.00%) 0 € Dto. MO (0%) 0 € Constante MO metal (1.7 h) 51,00 €\nSubtotal recambios 599,32 € Total MO 714,48 € Constante MO plástico (0.8 h) 24,00 €\nDto. recambios 0 € Subtotal MO (18.5 h) 555,00 €\nTotal recambios 599,32 € Descuento MO Pintura (%) 0 €\nTotal MO pintura 555,00 €\nMaterial Pintura 799,50 €\nConstante material metal 6,10 €\nConstante material plástico 5,60 €\nSubtotal material 811,20 €\nDto. sobre material (%) 0 €\nTotal material 811,20 €\nTotal pintura 1.366,20 €\nTotal\nFranquicia Total recambios 599,32 € Subtotal (sin dto.) 2.680,00 €\nTotal mano de obra 714,48 € Descuento total (% ) 0 €\nTotal pintura 1.366,20 € Base imponible 2.680,00 €\nSubtotal 2.680,00 € IVA (21%) 562,80 €\nTotal 3.242,80 €\nTOTAL (menos franquicia) \n3.242,80 €\nLeyenda\n\n* Entrada manual del usuario (no válido para la columna del\nnombre) \n@ Precio repuesto para pieza alternativa\nCódigo de reparación\nA - desmontar y montar B - Protección de los bajos\nC - Reparación-puntos pintura D - desmontar\nE - sustituir F - montar\nG - cortar H - Purgar aire\nI - Reparar J - Limpiar\nK - Costes deducibles L - Pintura\nM - Desmontadas para pintar N - Otros costes auxiliares\nO - Protección del habitáculo P - Comprobar\nQ - Susituir o renovar R - Riesgo\nS - Instalar T - Prueba técnica\nU - Pintura manual V - Medir\nW - equilibrar X - Destapar (sólo lógica de trabajo)\nY - Completar (sólo lógica de trabajo) Z - Desmontar y montar\n/ - Repara\n\nFotos\nMatrícula: 6078GGM\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n",
          "version": "5.3.31"
        }
      }
    ],
    "Ficha": [
      {
        "json": {
          "output": {
            "matricula": "6078GGM",
            "bastidor": "JTMBA31V805086579",
            "fabricante": "Toyota",
            "modelo": "RAV4 (A3)(2005->) Executive",
            "referencia": "EXP240044",
            "sistema": "SilverDAT 3",
            "precio_hora": "30.0 €"
          }
        }
      }
    ],
    "Totales Aseguradora": [
      {
        "json": {
          "output": {
            "repuestos_total": "599,32 €",
            "mo_chapa_ut": "18.5",
            "mo_chapa_eur": "555,00 €",
            "mo_pintura_ut": "22.87",
            "mo_pintura_eur": "555,00 €",
            "mat_pintura_eur": "799,50 €"
          }
        }
      }
    ],
    "Merge": [
      {
        "json": {
          "output": {
            "matricula": "6078GGM",
            "bastidor": "JTMBA31V805086579",
            "fabricante": "Toyota",
            "modelo": "RAV4 (A3)(2005->) Executive",
            "referencia": "EXP240044",
            "sistema": "SilverDAT 3",
            "precio_hora": "30.0 €"
          }
        }
      },
      {
        "json": {
          "output": {
            "repuestos_total": "599,32 €",
            "mo_chapa_ut": "18.5",
            "mo_chapa_eur": "555,00 €",
            "mo_pintura_ut": "22.87",
            "mo_pintura_eur": "555,00 €",
            "mat_pintura_eur": "799,50 €"
          }
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Ficha",
            "type": "main",
            "index": 0
          },
          {
            "node": "Totales Aseguradora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ficha",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Totales Aseguradora",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ficha": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Totales Aseguradora": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6f35b958-5718-4fd2-9485-4b12657fd099",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b094304114b9ed7fa9d28733d5e5f61adf11ee96b9da30b6e36a6c1f2abc45d3"
  },
  "id": "GRqmncfbAkRrZUCF",
  "tags": []
}